---
layout: base
---
<div class="wrapper">
    <header>
      
      <!--
	  {% if site.compass.logo %}
	  <div class="logo-container">
            <a class="logo" href="{{ page.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
	  </div>
	  {% endif %}
      -->
      {% if site.compass.author %}
      <div class="author-container"><h1>Research</h1></div>
      {% endif %}
      
      <!--
	{% if site.compass.tagline %}
      <div class="tagline-container"><p>{{ site.compass.tagline }}</p></div>
      {% endif %}
      -->
    </header>

    <main class="content">
      <h3> Following is a brief overview of my past research.
	Complete list of my publications can be found on <a href="https://arxiv.org/search/astro-ph?searchtype=author&query=Modi%2C+C" > arXiv </a>
	and on
	<a href="https://ui.adsabs.harvard.edu/search/filter_database_fq_database=NOT&filter_database_fq_database=*%3A*&filter_database_fq_database=database%3A%22general%22&fq=%7B!type%3Daqp%20v%3D%24fq_author%7D&fq=%7B!type%3Daqp%20v%3D%24fq_database%7D&fq_author=(*%3A*%20NOT%20author_facet_hier%3A%221%2FModi%2C%20C%2FModi%2C%20C%22%20NOT%20author_facet_hier%3A%221%2FModi%2C%20C%2FModi%2C%20C%20%20K%22)&fq_database=(*%3A*%20NOT%20database%3A%22general%22)&p_=0&q=author%3A%22Modi%2C%20Chirag%22&sort=date%20desc%2C%20bibcode%20desc" > NASA/ADS </a>
      </h3>
      
      <i> Under Construction </i>

      <p>
	<a href="/" > [back] </a>
      </p>
    </main>

</div>
