<!--
  
<h2>About Compass</h2>
<p>Compass has been designed with something very specific in mind: to be a simple and elegant personal landing page.</p>

<h2>Features</h2>
<ul>
  <li>Responsive design</li>
  <li>Mobile friendly</li>
  <li>Easy deployment to <a href="https://pages.github.com/">GitHub Pages</a></li>
  <li><a href="./another/index.html">another</a></li>
  <li><a href="./another.md">anothermd</a></li>
</ul>

<p>For more information, including setup and configuration instructions, bug reports or feature requests head over to <a href="https://github.com/excentris/compass">GitHub</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author</a>
  </li>
</ul>

-->

<h1>Hello there, welcome to my homepage</h1>
<p>
        I am a research fellow with at the Flatiron Institute in New York, with
        joint appointment at the Center for Computational Astrophysics (CCA) and the Center for Computational
        Mathematics (CCM). Before this, I completed my Ph.D in Physics at the University of California, Berkeley.
        Prior to that, I did my undergraduate in Engineering Physics with a minor in Statistics from IIT, Bombay in India. 
</p>
<p>
        As a researcher, I am broadly interested in astrophysics (cosmology), machine learning and statistical inference.
        I spend most of my time thinking about computational approaches for cosmological analysis which will
        allow us to extract the maximum possible information about our Universe from large-scale galaxy surveys.        
        Specifically, I develop forward modeling approaches that combine end-to-end modeling of cosmological observations
        using numerical simulations, starting all the way from the beginning of the Universe, with the
        state of the art Bayesian inference algorithms and machine learning tools for constraining cosmological models. 
</p>
<p>       
        Thinking about high-dimensional inference in the context of cosmology has also led me to moonlight in the land of Bayesian statsitics.
        Here I am interested in developing asymptotically exact Markov Chain Monte Carlo methods and approximate variational methods
        for statistical inference in a more general setting of data-driven sciences. 
        Occasionally, I foray into other scientific domains, such as my brief stints in COVID-19 data analaysis and
        exploring synthetic control methods in econometrics. 
</p>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <a href="./research/">Research </a>
  </li>
  <li class="main-list-item">
    <a href="/docs/Academic-CV.pdf">CV </a>
  </li>
  <li class="main-list-item">
    <a href="./contact/">Contact </a>
  </li>
</ul>


