<!--
  
<h2>About Compass</h2>
<p>Compass has been designed with something very specific in mind: to be a simple and elegant personal landing page.</p>

<h2>Features</h2>
<ul>
  <li>Responsive design</li>
  <li>Mobile friendly</li>
  <li>Easy deployment to <a href="https://pages.github.com/">GitHub Pages</a></li>
  <li><a href="./another/index.html">another</a></li>
  <li><a href="./another.md">anothermd</a></li>
</ul>

<p>For more information, including setup and configuration instructions, bug reports or feature requests head over to <a href="https://github.com/excentris/compass">GitHub</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author</a>
  </li>
</ul>


-->

<h1>Hello there, welcome to my homepage</h1>
<p>
        I am a research fellow with at the Flatiron Institute in New York, with
        joint appointment at the Center for Computational Astrophysics (CCA) and the Center for Computational
        Mathematics (CCM). Before this, I completed my Ph.D in Physics at the University of California, Berkeley.
        Prior to that, I did my undergraduate in Engineering Physics with a minor in Statistics from IIT, Bombay in India. 
</p>
<p>
        As a researcher, I am broadly interested in cosmology, machine learning and statistical inference.
        I spend most of my time thinking about new ways of cosmological analysis which will
        allow us to learn the most about our Universe from the current and future large-scale galaxy surveys.
        I take a computational forward modeling approach to this end, which means modeling the observations starting
        right from the beginning of the Universe using cosmological simulations. 
        Day-to-day, this involves me working on a broad range of topics including,
        building fast, accurate and differentiable cosmological simulations,
        exploring novel summary statistics for cosmological data,
        and accelerating statistical inference algorithms for constraining cosmological models. 
        In all of these, I use machine learning tools as and when necessary.
        
        Thinking about high-dimensional inference in context of cosmology
        has also led me to moonlight in the land of Bayesian statsitics.
        Here I am interested in developing both, exact and approximate gradient based algorithms for satatistical inference.
        This often ends up with me thinking about variants of variational inference and trying to improve upon Hamiltonian Monte Carlo
        methods for pathalogical distributions. 

        Sometimes I also foray into other scientific domains, such as my brief stints in COVID-19 data analaysis and
        exploring synthetic control methods in econometrics. 

</p>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <a href="./research/">Research </a>
  </li>
  <li class="main-list-item">
    <a href="/docs/Academic-CV.pdf">CV </a>
  </li>
  <li class="main-list-item">
    <a href="./contact/">Contact </a>
  </li>
</ul>


