<!--
  
<h2>About Compass</h2>
<p>Compass has been designed with something very specific in mind: to be a simple and elegant personal landing page.</p>

<h2>Features</h2>
<ul>
  <li>Responsive design</li>
  <li>Mobile friendly</li>
  <li>Easy deployment to <a href="https://pages.github.com/">GitHub Pages</a></li>
  <li><a href="./another/index.html">another</a></li>
  <li><a href="./another.md">anothermd</a></li>
</ul>

<p>For more information, including setup and configuration instructions, bug reports or feature requests head over to <a href="https://github.com/excentris/compass">GitHub</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author</a>
  </li>
</ul>


-->

<h1>Welcome to my homepage</h1>
<p>
  I am final year Physics graduate student at University of California, Berkeley, affiliated
  with Berkeley Center for Cosmological Physics (BCCP).
</p>
<p>
  My research is focussed on large-scale structures (LSS) of the Universe.
  This involves studying the distribution of matter on the scales of galaxies and larger
  to develop our understanding of the nature and evolution of our Universe,
  thus answering fundamental questions about big bang, dark matter, dark energy etc.
  To this end, I explore analytic, statistical and machine-learning methods to model LSS observations
  and develop inference techniques to maximize their science return.
</p>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <a href="./research/index.html">Research </a>
  </li>
  <li class="main-list-item">
    <a href="/docs/Academic-CV.pdf">CV </a>
  </li>
  <li class="main-list-item">
    <a href="./contact/index.html">Contact </a>
  </li>
</ul>


